<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- simple date bean to inject into constructor -->
    <bean id="dt" class="java.util.Date" />

    <!-- additional date bean to use with setter -->
    <bean id="dt1" class="java.util.Date">
        <property name="year" value="110" />
        <property name="month" value="9" />
        <property name="date" value="31" />
    </bean>

    <!-- your WishMessageGenerator bean -->
    <bean id="wmg" class="com.nt.beans.WishMessageGenerator">
        <!-- constructor injection by ref -->
        <constructor-arg ref="dt" />

        <!-- setter injection -->
        <property name="date1" ref="dt1" />
    </bean>

</beans>
